version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: daily
    open-pull-requests-limit: 1000000
  - package-ecosystem: bundler
    directory: "/docs"
    schedule:
      interval: daily
    open-pull-requests-limit: 1000000
