{
  "extends": "airbnb",
  "rules": {
    // Override Airbnb style guide defaults for ES5
    "indent": [2, 4],
    "no-underscore-dangle": [2, {"allowAfterThis": true }],
    "no-restricted-syntax": ["error", "ForInStatement", "LabeledStatement", "WithStatement"],
    "newline-per-chained-call": "off",
    "max-len": [2, 255, 4],
    "no-param-reassign": 0,
    "spaced-comment": [2, "always", { "markers": ["/", "!"] }],
    "no-plusplus": 0
  },
  "env": {
    "amd": true,
    "node": true,
    "commonjs": true,
    "es6": true,
    "browser": true
  },
  "globals": {
    "VerEx": true
  }
}
