{
  "extends": "airbnb/legacy",
  "rules": {
    // Override Airbnb style guide defaults for ES5
    "indent": [2, 4],
    "max-len": [2, 255, 4],
    "no-param-reassign": 0,
    "spaced-comment": [2, "always", { "markers": ["/", "!"] }],
    "valid-jsdoc": [2, {
      "prefer": {
        "return": "return"
      }
    }],
    "require-jsdoc": [2, {
      "require": {
        "FunctionDeclaration": true,
        "MethodDefinition": true,
        "ClassDeclaration": true
      }
    }]
  },
  "env": {
    "amd": true,
    "qunit": true
  },
  "globals": {
    "VerEx": true
  }
}
