name: Run tests
on: pull_request
jobs:
    test:
        name: Run tests on Node.js ${{ matrix.node-version }}
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: ["16", "15", "14", "13", "12", "11", "10"]
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: ${{ matrix.node-version }}
            - run: npm ci
            - run: npm run test:verbose
